.grid {
	padding-top: 125px;
	white-space: nowrap;
}
		
.gridSpace {
	width: 240px;
	height: 240px;
	border: 2px black solid;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	position: relative;
	text-align: center;
}
		
.evenSpace {
	top: -125px
}

.coord {
	font-size: 1.5em;
	background-color: white
}

.activeSpace {
	border-color: green;
}

.activeSpace .coord {
	background-color: lightgreen
}

.movable .coord {
	background-color: green
}

.targetable .coord {
	background-color: red
}

.terrain-forests {
	background-image: url('../images/space-forests.png')
}

.terrain-plains {
	background-image: url('../images/space-plains.png')
}

.terrain-hills {
	background-image: url('../images/space-hills.png')
}

.terrain-mountains {
	background-image: url('../images/space-mountains.png')
}

.terrain-fort {
	background-image: url('../images/space-fort.png')
}

.terrain-wizard-tower {
	background-image: url('../images/space-wizard-tower.png')
}