.unit-card {
	height: 200px;
	width: 200px;
	background-color: green;
	position: relative;
	border: 8px brown solid;
	font-size: 35px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.unit-level2 {
	border-color: silver;
}

.unit-level3 {
	border-color: gold;
}

.unit-human {
	background-image: url('../images/background-human.png');
}

.unit-orc {
	background-image: url('../images/background-orc.png');
}

.unit-undead {
	background-image: url('../images/background-undead.png');
	color: white;
}

.unit-woodelf {
	background-image: url('../images/background-woodelf.png');
	color: white;
}

.unit-name {
	font-size: 25px;
	width: 120px;
	position: relative;
	left: 40px;
	text-align: center;
	display: table;
}

.unit-graphic {
	position: absolute;
	top: 40px;
	left: 0px
}

.stat-box {
	color: black;
	height: 40px;
	width: 40px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	font-family: 'Carter One', serif;
}

.range-box {
	background-color: orange;
	top: 0px
}

.special-box {
	background-color: black;
	color: white;
	right: 0px;
	top: 0px;
}

.attack-box {
	background-color: red;
	bottom: 0px
}

.defense-box {
	background-color: blue;
	bottom: 0px;
	left: 80px
}

.move-box {
	background-color: green;
	bottom: 0px;
	right: 0px
}

.tokens {
	position: absolute;
	top: 40px;
	left: 0px
}

.inactive {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url('../images/token-inactive.png');
	width: 200px;
	height: 200px;
}